Proyecto Monopoly/MonopolyCR/MonopolyCR.suo
Proyecto Monopoly/MonopolyCR/MonopolyCR/bin/Debug/MonopolyCR.pdb
Proyecto Monopoly/MonopolyCR/MonopolyCR/bin/Debug/MonopolyCR.exe
Proyecto Monopoly/MonopolyCR/MonopolyCR/obj/Debug/MonopolyCR.exe
Proyecto Monopoly/MonopolyCR/MonopolyCR/obj/Debug/MonopolyCR.Recursos.resources
*.resources
Proyecto Monopoly/MonopolyCR/MonopolyCR/obj/Debug/MonopolyCR.pdb
Proyecto Monopoly/MonopolyCR/MonopolyCR/obj/Debug/MonopolyCR.csproj.FileListAbsolute.txt
Proyecto Monopoly/MonopolyCR/MonopolyCR.5.0.ReSharper.user
Proyecto Monopoly/MonopolyCR/MonopolyCR.suo
Proyecto Monopoly/MonopolyCR/MonopolyCR.suo
Proyecto Monopoly/MonopolyCR/MonopolyCR.suo